@use '../utils/' as *;

/***************************    Landing section _ HomePage     ***************************************/

.landing{
  width: 100vw;
  height: 150vh;
  box-sizing: border-box;
  color: $main-color;
  overflow: hidden;

  &::before{
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 150vh;
    background-image: linear-gradient( rgba(23, 31, 36, 1) 0%,rgba(23, 31, 36, 0.8) 50%, rgba(76, 136, 249, 0.45) 100%), url('https://dharkaron.github.io/Portfolio/src/assets/img/background/background_landing.jpg');
    background-size: cover;
  }
  &-border-wave{
    position: absolute;
    bottom: -50vh;
    path{
      fill: $main-color;
    }
  }
  
  &-introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20vh;

    &-picture{
      border-radius: 50%;
      width: 120px;
      height: 120px;
      box-sizing: border-box;
      position: relative;      

      &::after{
        content: '';
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;        
        border-radius: 50%;
        box-shadow: inset 0 0 12px 4px rgb(0,0,0), 6px 6px 15px 2px rgba(0, 0, 0, 0.5);
      }
      & img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;     
      }
    }
    
    &-title{
      font-size: 48px;
    }
    &-subtitle{
      font-size: 32px;
    }

    & .welcome_btn, .welcome_btn-small{
      font-size: 28px;
      font-weight: 600;
      color: inherit;
      background-color: transparent;
      border:1px solid $main-color;
      border-radius: 8px;
      padding: 8px;
      margin-top: 40px !important;
      transition: all 0.2s ease-in-out;

      &:hover, &:active{
        background-color: $main-color;
        color: rgba(0,0,0,0.8);
      }
    }
    & .welcome_btn-small{
      display: none;
    }
  }

  /*****    Landing Meqia Queries     *****/
  @media (width < 700px){
    &-introduction{
      gap: 20px;
        
      &-title{
        font-size: 32px;
      }
      &-subtitle{
        font-size: 24px;
      } 
      & .welcome_btn{
        display: none;
      } 
      & .welcome_btn-small{
        display: block;
      }
    }            
  }
  @media (width < 400px){    
    &-introduction{
      gap: 25px;
        
      &-title{
        font-size: 24px;
      }
      &-subtitle{
        font-size: 20px;
      }            
    }
  }

 
}
/* About_me section Anchor */
#about_me{
  position: absolute;
  bottom: -30vh;
}
