.color-dark_cyan {
  color: rgb(0, 138, 137);
}

@keyframes slide-in {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "indie flower", "Times New Roman";
  font-size: 20px;
}

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  max-width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  max-height: 100%;
  background: rgb(250, 250, 250);
  position: relative;
}

main {
  min-height: 100vh;
}

button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a, button {
  cursor: pointer;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display: none !important;
}

/* Styling of 'hr' border */
hr.section-border {
  position: absolute;
  left: 5vh;
  right: 5vh;
  bottom: 0;
  height: 1px;
  border: none;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Disable all animations, if the user enabled options on their device to minimize non-essential motion */
@media (prefers-reduced-motion: reduce) {
  .animation {
    animation: none;
  }
}
/***********    Link Back to Page top    ************/
.go-back-top {
  position: fixed;
  bottom: 60px;
  right: 40px;
  z-index: 1000;
  color: rgb(0, 138, 137);
  transition: filter 0.2s;
  animation: appear 0.6s forwards;
  /* text appearing below the button on hover */
  /* Remove text on small screen */
}
.go-back-top::after {
  opacity: 0;
  content: "Retourner en haut";
  position: absolute;
  bottom: -60px;
  left: calc(50% - 44px);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  transform: translateY(50%);
  transition: all 0.4s ease-in-out;
}
.go-back-top:hover {
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
}
.go-back-top:hover::after {
  opacity: 1;
  transform: translateY(0);
}
@media (width < 700px) {
  .go-back-top {
    bottom: 30px;
  }
  .go-back-top::after {
    display: none;
  }
}

/* Slider & button container */
.carousel-container {
  position: relative;
  min-height: 80vh;
  overflow-x: hidden;
  /* Slides container */
  /* Button - Next Slide */
}
.carousel-container .slide-container {
  display: grid;
  place-items: center;
  overflow: hidden;
  width: 100%;
  height: 50vh;
  /* slide's general styling */
}
.carousel-container .slide-container .slide {
  list-style-type: none;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 20%;
  height: 60vh;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
  filter: drop-shadow(10px 20px 10px rgba(0, 0, 0, 0.3));
  transition: all 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
  /* Main slides */
  /* Next Slide */
  /* Hidden Slide */
  /* Animation for the content of the slide */
  /* Main Slide Content */
}
.carousel-container .slide-container .slide:nth-child(1), .carousel-container .slide-container .slide:nth-child(2) {
  left: 5%;
  width: 60%;
}
.carousel-container .slide-container .slide:nth-child(3) {
  left: 70%;
  transition: all 0.4s;
}
.carousel-container .slide-container .slide:nth-child(4) {
  opacity: 0;
  transform: translateX(70%);
}
.carousel-container .slide-container .slide:nth-of-type(2) .content {
  display: block;
  animation: slide-in 0.6s ease-in-out 0.3s forwards;
}
.carousel-container .slide-container .slide .content {
  width: fit-content;
  max-width: 80%;
  height: 40vh;
  position: absolute;
  top: 10vh;
  left: 5%;
  font-weight: 400;
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-shadow: 5px 5px 8px rgba(255, 255, 255, 0.7);
  opacity: 0;
  display: none;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  padding: 15px;
}
.carousel-container .slide-container .slide .content .title {
  font-size: 30px;
}
.carousel-container .slide-container .slide .content .description {
  line-height: 1.7;
  margin: 1rem 0 1.5rem;
  padding-bottom: 1rem;
}
.carousel-container .slide-container .slide .content .specification {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid white;
  border-radius: 8px;
  padding: 5px;
}
.carousel-container .slide-container .slide .content .github_link {
  position: absolute;
  bottom: 5px;
  left: 20px;
}
.carousel-container .slide-container .slide .content .github_link .github_icon {
  height: 30px;
}
.carousel-container .slide-container .slide .content .github_link .github_icon:hover {
  fill: rgb(0, 138, 137);
  transform: translateY(-2px);
  filter: drop-shadow(-3px 5px 2px rgba(0, 0, 0, 0.4));
}
.carousel-container .slide-container .slide .content .website_link {
  position: absolute;
  bottom: 5px;
  left: 60px;
}
.carousel-container .slide-container .slide .content .website_link .link_icon {
  height: 30px;
}
.carousel-container .slide-container .slide .content .website_link .link_icon:hover {
  fill: rgb(0, 138, 137);
  transform: translateY(-2px);
  filter: drop-shadow(-3px 5px 2px rgba(0, 0, 0, 0.4));
}
.carousel-container .slider-btn {
  position: absolute;
  top: 28%;
  left: 65%;
  transform: translateX(-50%);
  z-index: 10;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 40px 20px;
  border-radius: 20px;
  cursor: pointer;
}
.carousel-container .slider-btn:hover {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.8);
}

@media (width < 900px) {
  .carousel-container .slide-container .slide {
    height: 50vh;
  }
  .carousel-container .slide-container .slide:nth-child(1), .carousel-container .slide-container .slide:nth-child(2) {
    left: auto;
    width: 75vw;
  }
  .carousel-container .slide-container .slide:nth-child(3) {
    left: 100%;
    opacity: 0;
  }
  .carousel-container .slide-container .slide:nth-child(4) {
    left: 100%;
    opacity: 0;
  }
  .carousel-container .slide-container .slide .content {
    top: 2%;
    left: 2%;
    height: 43vh;
    border-radius: 20px;
  }
  .carousel-container .slide-container .slide .content .title {
    font-size: 22px;
  }
  .carousel-container .slide-container .slide .content .description {
    font-size: 16px;
  }
  .carousel-container .slide-container .slide .content .specification {
    top: 55%;
    left: 15px;
    height: fit-content;
  }
  .carousel-container .slider-btn {
    top: 68%;
    left: 50%;
    background: linear-gradient(140deg, rgba(0, 138, 137, 0.8) 0%, rgba(121, 177, 144, 0.6) 50%, rgba(0, 138, 137, 0.2) 100%);
    box-shadow: -4px 4px 8px 1px rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 15px 120px;
    transition: all 0.2s;
  }
  .carousel-container .slider-btn:hover {
    box-shadow: -6px 6px 10px 2px rgba(0, 0, 0, 0.6), 1px 1px 4px 1px rgba(0, 0, 0, 0.4) inset;
  }
}
/* Code for the Navigation Menu */
.navigation {
  /* position: fixed;
  top:0;
  right: 0;
  left: 0; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  color: rgba(214, 214, 214, 0.7);
  max-width: 100vw;
  height: 50px;
}
.navigation-dropdown_label {
  position: relative;
  display: none;
  padding: 5px 30px;
  margin-top: 10px;
  font-size: 28px;
  cursor: pointer;
}
.navigation-dropdown_label::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(250, 250, 250);
  transition: transform 1s;
}
.navigation-dropdown_input {
  display: none;
}
.navigation-menu {
  padding: 5px 20px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 60px;
}
.navigation-menu-btn {
  position: relative;
  overflow: hidden;
  transition: all 0.15s ease-in-out;
}
.navigation-menu-btn a {
  font-size: 25px;
}
.navigation-menu-btn:hover {
  color: rgb(214, 214, 214);
  transform: scale(1.04);
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(41, 53, 61, 0.95);
  z-index: 100;
  box-sizing: border-box;
  opacity: 0;
  animation: appear 0.6s forwards;
}

/*******   Navigation Menu Media Queries   ********/
@media (width < 1024px) {
  .navigation {
    flex-direction: column;
    align-items: center;
  }
  .navigation-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .navigation-dropdown_label {
    display: block;
  }
  .navigation-dropdown_input:checked ~ .navigation-menu {
    display: flex;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes disappear {
  100% {
    opacity: 0;
    transform: translateY(50%);
  }
  0% {
    opacity: 1;
    transform: translateY(0);
  }
}
.about_me {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 6vw;
  height: 80vh;
  padding: 4vh 6vw 10vh;
  max-width: 100vw;
  overflow-x: hidden;
}
.about_me-content {
  min-height: inherit;
  margin-top: 40px;
}
.about_me-content-title {
  font-size: 40px;
  text-shadow: 10px 20px 10px rgba(0, 0, 0, 0.3);
  padding-bottom: 40px;
}
.about_me-content p {
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
  word-spacing: 5px;
}
.about_me-content p .my-job {
  position: relative;
  text-indent: 0;
  font-weight: 800;
  font-size: 24px !important;
  color: rgb(105, 155, 126);
}
.about_me-content p .my-job:after {
  content: "";
  display: block;
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 65%;
  height: 2px;
  border: none;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(105, 155, 126, 0.75), rgba(0, 0, 0, 0));
}
.about_me-content p .span-after {
  font-family: "Times New Roman";
  font-size: 26px;
  font-weight: 800;
}
.about_me-content p .line-height-10 {
  display: inline-block;
  margin-top: 10px;
}
.about_me-content p .text-indent-12 {
  display: inline-block;
  text-indent: 12px;
  font-size: 22px;
}
.about_me-picture {
  border-radius: 20%;
  height: 70vh;
  aspect-ratio: 0.8/1;
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;
  /* & figcaption{
    display: none;
    color: $main-color;
    font-style: italic;
    text-shadow: 1px 1px 2px rgb(0,0,0);

    position: absolute;
    bottom: 10%;
    left: calc(50% - 135px);
  } */
}
.about_me-picture::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 70vh;
  border-radius: inherit;
  background-image: url("https://dharkaron.github.io/Portfolio/src/assets/img/profile_pic/Profile-pic-04.jpg");
  background-size: cover;
}
.about_me-picture::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20%;
  box-shadow: inset 0 0 22px 4px rgb(0, 0, 0), 8px 8px 18px 4px rgba(0, 0, 0, 0.5);
}

@media (width < 1200px) {
  .about_me-content {
    margin-top: 0;
    position: absolute;
    top: 140px;
    left: 8vw;
    right: 10vw;
    z-index: 4;
    color: rgb(250, 250, 250);
  }
  .about_me-content-title {
    position: absolute;
    top: -100px;
  }
  .about_me-content-text {
    font-weight: 800;
    word-spacing: 5px;
    height: 50vh;
    overflow-y: scroll;
  }
  .about_me-picture {
    position: absolute;
    top: 100px;
    height: 60vh;
    width: 100%;
    border-radius: 40px;
    aspect-ratio: inherit;
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;
  }
  .about_me-picture::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 60vh;
    border-radius: inherit;
    background-image: linear-gradient(rgb(23, 31, 36) 0%, rgba(23, 31, 36, 0.8) 50%, rgba(76, 136, 249, 0.4) 100%), url("https://dharkaron.github.io/Portfolio/src/assets/img/profile_pic/Profile-pic-04-2.jpg");
    background-size: cover;
  }
  .about_me-picture::after {
    border-radius: 40px;
  }
}
@media (min-width: 501px) and (max-width: 700px) {
  .about_me-picture, .about_me-picture::before {
    height: 50vh;
  }
  .about_me-content-text {
    height: 40vh;
    overflow-y: scroll;
  }
}
@media (width < 500px) {
  .about_me-picture {
    display: none;
  }
  .about_me {
    gap: 10px;
    min-height: 100vh;
    height: fit-content;
    padding: 4vh 6vw 20vh;
  }
  .about_me-content {
    position: initial;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: inherit;
  }
  .about_me-content-title {
    position: relative;
    top: auto;
    font-size: 40px;
    text-shadow: 10px 20px 10px rgba(0, 0, 0, 0.3);
  }
  .about_me-content-text {
    height: auto;
    overflow-y: auto;
    text-shadow: none;
  }
  .about_me-content-text p {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
  }
}
.projects {
  position: relative;
  padding: 80px 30px;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.projects-header {
  padding: 20px 12vw;
  text-shadow: 10px 20px 10px rgba(0, 0, 0, 0.3);
}
.projects-header-title {
  font-size: 40px;
}
@media (width < 670px) {
  .projects-header-title {
    text-align: center;
  }
}

.skills {
  position: relative;
  padding: 80px 30px 40px;
  min-height: 100vh;
}
.skills-title {
  font-size: 40px;
  padding: 20px 12vw;
  text-shadow: 10px 20px 10px rgba(0, 0, 0, 0.3);
}
@media (width < 670px) {
  .skills-title {
    text-align: center;
  }
}
.skills-container {
  padding: 20px 0;
}
.skills-container h3 {
  text-indent: 14vw;
}
.skills-container-grid {
  padding: 40px 100px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
}
@media (width < 1300px) {
  .skills-container-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (width < 1100px) {
  .skills-container-grid {
    padding: 40px;
  }
}
@media (width < 950px) {
  .skills-container-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (width < 820px) {
  .skills-container-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (width < 670px) {
  .skills-container-grid {
    padding: 40px 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width < 520px) {
  .skills-container-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.skills-container-grid figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 20px;
  width: 100px;
  background: rgb(250, 250, 250);
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.4));
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  transition: filter 0.2s;
}
.skills-container-grid figure:hover {
  filter: drop-shadow(8px 10px 10px rgba(0, 0, 0, 0.8));
}
.skills-container-grid figure img {
  height: 80px;
  width: 100%;
  padding: 5px 0;
  background-color: rgb(121, 177, 144);
  box-shadow: inherit;
  border-radius: 20px 20px 0 0;
  object-fit: contain;
}
.skills-container-grid figure figcaption {
  align-self: center;
}

.contact_me {
  height: 40vh;
  width: 100vw;
  padding-top: 80px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid vertical border */
}
.contact_me .bordered-grid-item {
  border-right: 1px black dashed;
  width: 100%;
  text-align: center;
}
.contact_me-mail, .contact_me-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}
.contact_me-mail-title, .contact_me-links-title {
  color: rgb(0, 138, 137);
  font-size: 32px;
  text-shadow: 10px 20px 10px rgba(0, 0, 0, 0.3);
  padding-bottom: 40px;
}
@media (width < 670px) {
  .contact_me-mail-title, .contact_me-links-title {
    text-align: center;
  }
}
.contact_me-mail-mailto {
  color: rgb(38, 45, 56);
  font-size: 26px;
  font-weight: 800;
  padding: 10px 40px;
  background: linear-gradient(140deg, rgba(0, 138, 137, 0.8) 0%, rgba(45, 79, 100, 0.6) 50%, rgba(76, 136, 249, 0.4) 100%);
  border-radius: 30px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4) inset, 8px 10px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.4s;
}
.contact_me-mail-mailto:hover {
  transform: translateX(5px);
  box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.4) inset, 8px 14px 12px 2px rgba(0, 0, 0, 0.5);
}
.contact_me-links-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
.contact_me-links-list-linkTo {
  text-align: center;
}
.contact_me-links-list-linkTo svg {
  height: 30px;
  width: 30px;
  transition: all 0.2s;
}
.contact_me-links-list-linkTo svg:hover {
  fill: rgb(0, 138, 137);
  transform: translateY(-2px);
  filter: drop-shadow(-3px 5px 2px rgba(0, 0, 0, 0.4));
}
@media (width < 1100px) {
  .contact_me {
    grid-template-columns: 1fr;
    height: fit-content;
  }
  .contact_me .bordered-grid-item {
    border-right: none;
    border-bottom: 1px black dashed;
  }
  .contact_me-mail {
    padding-bottom: 50px;
  }
}
@media (width < 520px) {
  .contact_me-mail-title, .contact_me-links-title {
    font-size: 24px;
  }
  .contact_me-mail-mailto {
    font-size: 22px;
    padding: 8px 20px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  min-height: 40vh;
  padding-bottom: 25px;
  color: rgb(250, 250, 250);
  fill: rgb(250, 250, 250);
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.footer p {
  font-size: 22px;
}
.footer::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 60vh;
  background-image: linear-gradient(rgb(23, 31, 36) 0%, rgba(23, 31, 36, 0.8) 50%, rgba(76, 136, 249, 0.45) 100%), url("https://dharkaron.github.io/Portfolio/src/assets/img/background/background_footer.jpg");
  background-size: cover;
}
.footer-border_wave {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
}
.footer-border_wave path {
  fill: rgb(250, 250, 250);
}
@media (width < 520px) {
  .footer p span {
    display: block;
    text-align: center;
  }
  .footer p .hide-on-break {
    display: none;
  }
}

/***************************    Landing section _ HomePage     ***************************************/
.landing {
  width: 100vw;
  height: 150vh;
  box-sizing: border-box;
  color: rgb(250, 250, 250);
  overflow: hidden;
  /*****    Landing Meqia Queries     *****/
}
.landing::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 150vh;
  background-image: linear-gradient(rgb(23, 31, 36) 0%, rgba(23, 31, 36, 0.8) 50%, rgba(76, 136, 249, 0.45) 100%), url("https://dharkaron.github.io/Portfolio/src/assets/img/background/background_landing.jpg");
  background-size: cover;
}
.landing-border-wave {
  position: absolute;
  bottom: -50vh;
}
.landing-border-wave path {
  fill: rgb(250, 250, 250);
}
.landing-introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 15vh;
}
.landing-introduction-picture {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  position: relative;
}
.landing-introduction-picture::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: 50%;
  box-shadow: inset 0 0 12px 4px rgb(0, 0, 0), 6px 6px 15px 2px rgba(0, 0, 0, 0.5);
}
.landing-introduction-picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.landing-introduction-title {
  font-size: 48px;
}
.landing-introduction-subtitle {
  font-size: 32px;
}
.landing-introduction .welcome_btn, .landing-introduction .welcome_btn-small {
  position: relative;
  font-size: 28px;
  font-weight: 600;
  border: 1px solid rgb(250, 250, 250);
  border-radius: 8px;
  padding: 8px;
  margin-top: 40px !important;
  /*********  Classes called with JavaScript  ************/
}
.landing-introduction .welcome_btn:hover, .landing-introduction .welcome_btn:active, .landing-introduction .welcome_btn-small:hover, .landing-introduction .welcome_btn-small:active {
  background-color: rgb(250, 250, 250);
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
}
.landing-introduction .welcome_btn .ripple-1, .landing-introduction .welcome_btn .ripple-2, .landing-introduction .welcome_btn-small .ripple-1, .landing-introduction .welcome_btn-small .ripple-2 {
  position: absolute;
  opacity: 0;
  top: -10px;
  bottom: -10px;
  left: -5px;
  right: -5px;
  border: 2px solid rgba(250, 250, 250, 0.4);
  border-radius: 20px;
}
.landing-introduction .welcome_btn .ripple-2, .landing-introduction .welcome_btn-small .ripple-2 {
  animation-delay: 1s;
}
.landing-introduction .welcome_btn .animateOnClick, .landing-introduction .welcome_btn-small .animateOnClick {
  animation: ripple 1s linear;
}
.landing-introduction .welcome_btn .animateOnClick-2, .landing-introduction .welcome_btn-small .animateOnClick-2 {
  animation: ripple 1s 0.2s linear;
}
.landing-introduction .welcome_btn-small {
  display: none;
}
.landing-introduction .welcome_btn-light {
  color: rgb(250, 250, 250);
  background-color: transparent;
  transition: 0.6s;
}
.landing-introduction .welcome_btn-dark {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
}
@keyframes ripple {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  25% {
    opacity: 1;
    transform: scale(1.2);
    border-radius: 10px;
  }
  85%, 100% {
    transform: scale(1.6);
    opacity: 0;
    border-radius: 16px;
  }
}
@media (width < 700px) {
  .landing-introduction {
    gap: 20px;
  }
  .landing-introduction-title {
    font-size: 32px;
  }
  .landing-introduction-subtitle {
    font-size: 24px;
  }
  .landing-introduction .welcome_btn {
    display: none;
  }
  .landing-introduction .welcome_btn-small {
    display: block;
  }
}
@media (width < 400px) {
  .landing-introduction {
    gap: 25px;
  }
  .landing-introduction-title {
    font-size: 24px;
  }
  .landing-introduction-subtitle {
    font-size: 20px;
  }
}

/* About_me section Anchor */
#about_me {
  position: absolute;
  bottom: -30vh;
}

/*# sourceMappingURL=style.css.map */
