@use '../utils' as *;

.btn-green{
  background-color: $pale-green-1;
  border: 1px solid $pale-green-2;
}

.btn-link-animated{ 
  border-radius: 30px;
  //padding: 5px 20px;

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) inset;
  filter: drop-shadow( 10px 20px 10px rgba(0,0,0,0.3));

  transition: transform 0.4s;

  &:hover{
    transform: translateX(5px);       
  }
  &:hover p{
    filter:drop-shadow(2px 3px 2px rgb(0 0 0 / 0.4));
  }
}