@use '../utils/' as *;

/* Code for the Navigation Menu */
.navigation{
  /* position: fixed;
  top:0;
  right: 0;
  left: 0; */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  color: rgba(214, 214, 214, 0.7); 
  //position: relative;
  max-width: 100vw;
  height: 50px;

  &-dropdown_label{
    position: relative;
    display: none;
    padding: 5px 30px;
    margin-top: 10px;
    font-size: 28px;
    cursor: pointer;

    &::after {
			content: '';
			position: absolute;
			top: 50%;
			right: 4px;
			transform: translateY(-50%);
			width: 0; 
			height: 0; 
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid $main-color;
			transition:transform 1s;	
		}
  }
  &-dropdown_input{
    display: none;
  }	
        
  &-menu{    
    padding: 5px 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 60px;
   
    &-btn{
      position: relative;
      overflow: hidden;
      transition: all 0.15s ease-in-out;

      & a{
        font-size: 25px;
      }        
      &:hover{
      color: rgb(214, 214, 214);
      transform: scale(1.04);
      } 
    }      
  } 
}

.fixed-top{
  position: fixed;
  top:0;
  right: 0;
  left: 0;

  background: rgba(41, 53, 61, 0.95);
  z-index: 100;
  box-sizing: border-box;
  opacity: 0;
  animation: appear 0.6s forwards;
}

/*******   Navigation Menu Media Queries   ********/
@media (width < 1024px){
  .navigation{
  flex-direction: column;
  align-items: center;

    &-menu{
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    &-dropdown_label{
      display: block;
      
    }
    &-dropdown_input:checked ~ .navigation-menu{
      display: flex;
    }
  }
}


@keyframes appear{
  0%{
    opacity: 0;
    transform: translateY(-50%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes disappear{
  100%{
    opacity: 0;
    transform: translateY(50%);
  }
  0%{
    opacity: 1;
    transform: translateY(0);
  }
}